# Logistic Regression

### Step 1 - Data preprocessing

In [1]:
#importing libriries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv('datasets/Social_Network_Ads.csv')
orig_dataset=dataset #saving the original dataset
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [11]:
# Removing User ID column
dataset = dataset.drop(columns='User ID')

In [13]:
# Creating dummy variables
dataset = pd.get_dummies(dataset,drop_first=True)
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [ ]:
#Spliting